
  .back{
    display: flex;
   flex-direction: column;
    background: #FFF5E0;
  }
  .two {
display: flex;
justify-content: flex-start;
align-items: center;
flex-wrap: nowrap;
background: #FFF5E0;
   
  }
  .text{
    background: #FFF5E0;
  }

  .PAR{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.07em;
    
    color: #190933;
  }

  p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.07em;
    
    color: #190933;
  }
  .carrera{
width: 60px;
  }