@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Noto Sans Kannada';
font-style: normal;
font-weight: 30px;
font-size: 15px;
line-height: 27px;
text-align: center;
background: #FFF5E0;
margin: 20px;
}

.conos {
  margin-top: 40px;
  width: 60px;
  object-fit: cover;
  margin: 5%;
}

.card_Blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(16rem, calc(16rem + 2vw), 18rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #20253A;
 margin: 15px;
}
.card_Pink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(16rem, calc(16rem + 2vw), 18rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #FAB7A7;
 margin: 15px;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
}

p{
  margin: 0px;
  padding: 0px;
}
h4{
  font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 70;
font-size: 30px;
line-height: 48px;

color: #FFFFFF;

}
.proyecto{
  font-family: 'Kadwa';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 72px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #190933;

}
.see{
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  
  color: #190933;
  
}
.all{
  background: #FFF5E0;
}